@model ExoPlanetHunter.Database.Entity.Post

@{
    ViewData["Title"] = "Details";
}


<div class="container">

    <div class="row">

         <div class="col-lg-8 col-md-10 mx-auto">
        
 @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
                <div class="post-preview">
                    <h2 class="post-title"><a asp-action="Details" asp-route-id="@Model.Id"> @Model.Title </a></h2>

                       <div class="post-subtitle">
              @Html.Raw(Model.Content)
              </div>
           
            <p class="post-meta">Posted by
            Göran Bäcklund
               @Model.LastModified</p>
                 </div>  
                 </div>  
                 </div>  
                 </div>