@model ExoPlanetHunter.Database.Entity.Post

@{
    ViewBag.Title = Model.Title;
    var tags = ViewData["tags"] as List<string>;

}
   

<div class="container">

   <div class="row">

        <div class="col-lg-9 col-md-11 mx-auto">


            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
            <div class="post-preview">
                <h2 class="post-title"><a asp-action="Details" asp-route-id="@Model.Id"> @Model.Title </a></h2><hr />

                <div class="post-subtitle">
                    @Html.Raw(Model.Content)
                </div>

                <p class="post-meta">
                    Posted by
                    Göran Bäcklund
                    @Model.Created
                </p>
            <div>
            @foreach (var item in Model.Tags)
            {
            <a asp-action="Index" asp-route-tag="@item.Name" class="badge badge-secondary">@item.Name</a>
            } 
                </div>
         <br />


                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_plus"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                                   <br /><div class="fb-like" 
    data-href="https://exoplanethunter.com/Details/@Model.Id"
    data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false">
</div><br /><br />
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=2092691731004171&autoLogAppEvents=1';
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
   

                <div class="fb-comments" data-colorscheme="dark" data-href="https://exoplanethunter.com/Details/@Model.Id" data-numposts="5"></div>

            </div>
        </div>
        <div class="col-lg-3 col-md-1">
            <div class="alert alert-dark bg-dark text-light" role="alert">
                <a href='https://play.google.com/store/apps/details?id=com.varoid.exoplanethunter&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="200" style="background-color: transparent;" /></a>
            </div>
            <div class="alert alert-dark bg-dark text-light" role="alert">
                @foreach (var tag in tags)
                {
                    <a asp-action="Index" asp-route-tag="@tag" class="badge badge-secondary" style="margin:5px">@tag</a>
                }
            </div>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-7038764921708524"
                 data-ad-slot="8058203593"></ins>
        </div> </div>
</div>