@using ExoPlanetHunter.Database.Entity
@using Microsoft.AspNetCore.Identity
@using  ExoPlanetHunter.Web.ViewModel
@model PaginatedList<ExoPlanetHunter.Database.Entity.Post>


@{

    var stat = ViewData["stat"] as ExoPlanetHunter.Service.Dto.StatisticsDto;
}

<div class="container">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-2">
                <a class="btn btn-outline-dark btn-sm" asp-action="Create">Create New</a>
            </div>
            <div class="col-2">
                <form asp-action="ExecuteJob">
                    <div class="form-group">
                        <input type="submit" value="Execute Job" class="btn btn-outline-default btn-sm" />
                    </div>
                </form>
            </div>
            <div class="col-2">
                <form asp-action="Logout" asp-controller="Account">
                    <div class="form-group">
                        <input type="submit" value="Logout" class="btn btn-outline-dark btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    }
    <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto">


            @foreach (var item in Model)
            {
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <div class="post-preview">
                    <h2 class="post-title"><a asp-action="Details" asp-route-id="@item.Id" asp-route-title="@item.Title"> @Html.DisplayFor(modelItem => item.Title)</a></h2>     <hr>

                    <div class="post-subtitle">
                        @Html.Raw(item.Content)
                    </div>

                    <p class="post-meta">
                        Posted by
                        Göran Bäcklund
                        @Html.DisplayFor(modelItem => item.LastModified)
                    </p>

                </div>



                <br />



            }
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }


            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               class="btn btn-dark float-right @nextDisabled">
                Next
            </a>
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)"
               class="btn btn-dark float-right @prevDisabled">
                Previous
            </a><br />
        </div><div class="col-lg-4 col-md-2">
                  <div class="alert alert-dark bg-dark text-light" role="alert">
                      <h5> Confirmed Planets: @stat.ConfirmedPlanets</h5>
                      <h6> Potentially Habitable Planets: @stat.ConfirmedHabitablePlanets</h6>
                      <a href='https://play.google.com/store/apps/details?id=com.varoid.exoplanethunter&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="250"/></a>
                  </div>
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/exoplanethunt?ref_src=twsrc%5Etfw">Tweets by exoplanethunt</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
    </div>
</div>



