@using ExoPlanetHunter.Database.Entity
@using Microsoft.AspNetCore.Identity
@using  ExoPlanetHunter.Web.ViewModel
@model PaginatedList<ExoPlanetHunter.Database.Entity.Post>



@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Create">Create New</a>

}
<div class="container">

    <div class="row">

         <div class="col-lg-8 col-md-10 mx-auto">
        

            @foreach (var item in Model)
            {
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <div class="post-preview">
                    <h2 class="post-title"><a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a></h2>

                       <div class="post-subtitle">
              @Html.Raw(item.Content)
              </div>
           
            <p class="post-meta">Posted by
            Göran Bäcklund
               @Html.DisplayFor(modelItem => item.LastModified)</p>
                 </div>
    
          <hr>
                
                     
                     
                        
                
            }
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

      
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               class="btn btn-dark float-right @nextDisabled">
                Next
            </a>
      <a asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)"
               class="btn btn-dark float-right @prevDisabled">
                Previous
            </a>
        </div>
    </div>
</div>

