<html>
<head>

    <meta property="og:title" content="Exoplanets Exploring the universe" />
    <meta property="og:description" content="@ViewData["Title"] #Exoplanets" />
     <meta property="og:image" content="@ViewData["Img"]" />
    <meta property="og:image:secure_url"  content="@ViewData["Img"]" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta name="viewport" content="width=device-width" />
    <meta property="fb:admins" content="goran.backlund.10" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@("@exoplanethunt")">
    <meta name="twitter:creator" content="@("@exoplanethunt")">
    <meta name="twitter:title" content="Exoplanets Exploring the universe">
    <meta name="twitter:description" content="@ViewData["Title"]">
    <meta name="twitter:image"  content="@ViewData["Img"]">

    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/js/main.build.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/">Articles</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="~/catalog">Catalog</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="~/map">Map</a>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link" href="~/chart">Chart</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="~/swagger/">Api</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/details/3">About</a>
                    </li>
                  

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('@Url.Content("~/img/images.jpg")')">
        <div class="overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Exoplanets</h1>
                        <span class="subheading">Exploring the universe</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
  
    @RenderBody()

    <footer>
        <partial name="_FooterPartial" />

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="text-center">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- forum -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-7038764921708524"
                             data-ad-slot="0055853995"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>